*.DS_Store
swift-in-swift/universal/build
swift-in-swift/universal/universal.framework
swift-in-swift/universal/env.txt
swift-in-swift/universal/universal.xcodeproj/project.xcworkspace/xcuserdata
simple-swift-framework/universal/build
simple-swift-framework/universal/universal.framework
simple-swift-framework/universal/env.txt
simple-swift-framework/universal/universal.xcodeproj/project.xcworkspace/xcuserdata
simple-swift-framework/universal/universal.xcodeproj/project.xcworkspace/xcshareddata
simple-swift-framework/universal/universal.xcodeproj/xcuserdata/quang.ha.xcuserdatad
simple-swift-framework/universal/app/app.xcodeproj/project.xcworkspace/xcuserdata
simple-swift-framework/universal/app/app.xcodeproj/xcuserdata
